<div class="ui container grid">
    <div class="row">
        <h1>Extrato</h1>
    </div>
    <div class="row" *ngIf="warningMessage">
        <div class="ui warning message" style="width: 100%;">
            <i class="close icon" (click)="closeWarningMessage()"></i>
            <div class="header">
                Atenção
            </div>
            {{warningMessage}}
        </div>
    </div>
    <div class="row">
        <div class="ui left icon input">
            <!-- O angular só redesenha a tela por eventos assíncronos, por isso utilizamos o keyup -->
            <input #descricaoProcurada (keyup)="0" type="text" placeholder="Filtrar descrição">
            <i class="search icon"></i>
        </div>
        <table class="ui compact table">
            <thead>
                <tr>
                    <th></th>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transacao of listagem | filtroPorDescricao: descricaoProcurada.value" [ngClass]="transacao.tipo === 'Recebimento' ? 'positive' : 'negative'">
                    <td>
                        <i [ngClass]="transacao.tipo === 'Recebimento' ? 'icon checkmark' : 'icon close'"></i>
                    </td>
                    <td>{{transacao.dataTransacao}}</td>
                    <td>{{transacao.descricao}}</td>
                    <td>R{{transacao.valor | currency}}</td>
                    <td>{{transacao.tipo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>