<div class="ui grid" style="margin: 5px;">
  <div class="row">
    <div class="two wide column">
      <div class="ui vertical text menu">
        <div class="header item">Menu</div>
        <a [routerLink]="['']" class="active item">
          Home
        </a>
        <a class="item" [routerLink]="['/plano-financeiro']">
          Planos Financeiros
        </a>
        <a class="item" [routerLink]="['/extrato']">
          Extrato
        </a>
      </div>
    </div>
    <div class="fourteen wide column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>