<div class="ui container grid">
    <div class="row">
        <h1>Cadastrar Plano Financeiro</h1>
    </div>
    <div class="row">
        <div class="ui form fluid">
            <div class="field">
                <label>Nome</label>
                <input placeholder="Nome" type="text">
            </div>
            <div class="inline field">
                <div class="ui checkbox">
                    <input type="checkbox">
                    <label>Definir como padrão?</label>
                </div>
            </div>
            <div class="ui submit button">Cadastrar</div>
        </div>
    </div>
</div>