<div class="ui container grid">
    <div class="row">
        <h1>Planos Financeiros</h1>
    </div>
    <div class="row">
        <div class="ui search selection normal dropdown">
            <input type="hidden" name="planoFinanceiro">
            <i class="dropdown icon"></i>
            <div class="default text">Selecione um plano financeiro</div>
            <div class="menu">
                <!-- Como o data-value é um custom attribute, precisamos utilizar o 'attr. -->
                <!-- <div *ngFor="let plano of listaPlanos" [ngClass]="plano.isDefault ? 'item selected active' : 'item'" [attr.data-value]="plano.id">{{plano.nome}}</div> -->
            </div>
        </div>
        <a [routerLink]="['/cadastrar-plano-financeiro']">
            <button class="ui icon button" style="margin-left: 5px;">
                <i class="plus icon"></i>
            </button>
        </a>
    </div>
    <div class="row">
        <table class="ui compact table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Plano Padrão?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plano of listagem">
                    <td>{{plano.id}}</td>
                    <td>{{plano.nome}}</td>
                    <td>{{plano.isDefaultStr}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>